* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(187, 22%, 84%);
}
main {
  display: flex;
  flex-direction: row;
  margin: auto;
}
article {
  width: 300px;
  height: 500px;
  border: 1px solid #000;
  text-align: center;
}
