* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(0, 0%, 95%);
}
main {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 900px;
  border-radius: 20px;
}
article {
  width: 300px;
  height: 500px;
  border: 1px solid #000;
  text-align: center;
}
#sedans {
  background-color: hsl(31, 77%, 52%);
}
#SUVS {
  background-color: hsl(184, 100%, 22%);
}
#luxury {
  background-color: hsl(179, 100%, 13%);
}
footer {
  text-align: center;
}
